PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/safearchive
JWT_SECRET_KEY=your_jwt_secret_key_here
S3_BUCKET=your_s3_bucket_name
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
